{% extends "base.html" %} {% block content %}
<h2>Presentation</h2>
{%for accomm in accommodations.DOMAIN_PRESENTATION%}
<ul>
	<li>{{accomm.name}}</li>
</ul>
{%endfor%}
<h2>Response</h2>
{%for accomm in accommodations.DOMAIN_RESPONSE%}
<ul>
	<li>{{accomm.name}}</li>
</ul>
{%endfor%}
<h2>Setting</h2>
{%for accomm in accommodations.DOMAIN_SETTING%}
<ul>
	<li>{{accomm.name}}</li>
</ul>
{%endfor%}
<h2>Scheduling</h2>
{%for accomm in accommodations.DOMAIN_SCHEDULING%}
<ul>
	<li>{{accomm.name}}</li>
</ul>
{%endfor%} {%endblock%}
